[Unit]
Description=Raspberry PI Sensor service

[Service]
Type=simple
User={{ service_user }}
Group={{ service_user }}
Restart=on-failure
WorkingDirectory={{ bin_dir }}
ExecStart={{ bin_dir }}/{{ bin_file }}

[Install]
WantedBy=multi-user.target
