- hosts: all
  vars_files:
    - vars/vars.yml
  tasks:
    - ansible.builtin.user:
        name: "{{ service_user }}"
        system: true
        state: present
        groups:
          - i2c
          - plugdev
        append: yes
      become: true

    - ansible.builtin.file:
        path: "{{ bin_dir }}"
        state: directory
        mode: "{{ directory_mode }}"
      become: true

    - ansible.builtin.get_url:
        url: "{{ bin_url }}"
        dest: "{{ bin_dir }}/{{ bin_file }}"
        mode: "{{ file_mode }}"
      become: true

    - ansible.builtin.file:
        path: "{{ bin_dir }}/{{ bin_file }}"
        mode: "{{ file_mode_executable }}"
      become: true

    - ansible.builtin.template:
        src: "{{ playbook_dir }}/../systemd/sensor.service.j2"
        dest: "/etc/systemd/system/sensor.service"
        mode: "{{ file_mode }}"
      become: true

    - ansible.builtin.systemd:
        enabled: true
        name: sensor
      become: true

    - ansible.builtin.systemd:
        name: sensor
        state: restarted
      become: true